@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@keyframes IrLado {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.6;
    }
    85%{
        opacity: 0.8;
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }}

body{
    background-color: #333
    ;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#ligar{
    display: none;
}
#lista_menu{
    display: none;
}
/* FORMATAÇÃO GERAL*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
/*----------------------------------------------

ESTILO DO FUNDO E CABEÇALHO*/
.banner{
    background-image: url(../imagem/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px;
    border-bottom: 2px solid orange;
}
.logo{
    height: 100%;
    margin: 10px 0px 0px 10px;
    filter: drop-shadow(0 0 0 transparent);
    transition: filter 0.3s ease-in-out; 
}

.logo:hover{
    filter: drop-shadow(-5px -5px 5px blue) 
            drop-shadow(5px 5px 5px red);
            cursor: pointer;
}

#parte-1, #parte-2{
    display: flex;
}
#parte-2{
    margin-right: 10px;
}
header{
    background-color: rgba(0, 0, 0, 0.693);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    z-index: 10000;
}

/*----------------------------------------------
ESTILO DOS CONTÉUDOS DENTRO DO CABEÇALHO*/



.login, .cadastro{

    padding: 12px;
    margin: 30px 20px auto 0px;
    width: 110px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    transition: background-color 0.4s ease-in-out;
    transition: color 0.25s ease-in-out;
}
.login{
    background-color: rgba(255, 166, 0, 0.781);
    color: white;
    
}
.login:hover{
    background-color: rgb(253, 175, 30);
    color: black;
    
}

.cadastro:hover{
    background-color:  rgb(131, 131, 130);
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
}
ul{
    display: flex;
    margin-left: 50px;
}
li{
    margin: 45px 80px 0px 0px;
}

a{
    text-decoration: none;
    color: rgba(255, 175, 28, 0.779);
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}
a:hover{

    text-decoration: underline;
    color: white;
    
}

h1{
    font-size: 3.2em;
    color: rgba(255, 255, 255, 0.699);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    font-family: "Oswald";
    font-weight: normal;
    letter-spacing: 2px;
    margin: auto auto auto 20px;
}
/*----------------------------------------------
ESTILO DOS CONTÉUDOS DENTRO DO BANNER*/
.banner-1{
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}
h2 {
    color: orange;
    margin: 200px 0px 0px 90px;
    font-size: 3em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);

    width: 0; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    
    animation: 
        largura 3.5s steps(32, end) forwards, 
        barra step-end infinite;
}

@keyframes largura {
    from { width: 0 }
    to { width: 610px } 
}

@keyframes barra {
    from, to { border-color: transparent } 

}


/*----------------------------------------------
FORMATAÇÃO DO CONTEINER*/
#conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.banner p{
    color: white;
    margin: 20px 0px 0px 90px;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.treino{
    
    margin: 60px 0px 0px 90px;
    padding: 17px;
    background-color: rgba(255, 166, 0, 0.722);
    color: white;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
}
.treino a{
    color: white;
    text-decoration: none;
}
.treino:hover{

    color: black;
    background-color: rgb(255, 147, 59);
    cursor: pointer;
}

/*----------------------------------------------
ESTILO DA SEÇÃO HISTORIA*/

#curiosidade {
    
    animation-name: IrLado;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;

    display: flex;
    flex-direction: column;
    width: 100%; 
    height: auto;
    overflow: hidden; 
    border: 2px solid #333;
    margin: 30px auto;
    background-color: #333;
    transition: all 0.3s ease-in;
}
#curiosidade h3{
    color: orange;
    font-size: 2.5em;
    margin: 10px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(255, 200, 98, 0.492);
}
#div-caixas{
    display: flex;
    justify-content: space-around;
    
}


.caixas {
    margin-top: 30px;
    width: 300px; 
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    background-color: #feca95f7; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    z-index: 1;
    
}

.caixas:hover {
    opacity: 1 !important;
    margin-top: 4px;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(219, 166, 52, 0.6), 0 10px 20px rgba(0, 0, 0, 0.3);   
    z-index: 10; 
    
}

#div-caixas:hover .caixas {
    opacity: 0.15; 
}

.caixas img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}
.caixas p{
    line-height: 20px;
    margin: 0px 10px 10px 20px;
    color: rgb(0, 0, 0);
}
.caixas a {
    color: white;
    font-weight: normal;
}
.caixas a:hover {
    color: rgb(65, 173, 255);
    font-weight: bold;
}
footer {
    background-color: black; 
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    padding: 30px 0 0;

    
    width: 100%;
    animation-name: IrLado;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 13% cover 20%;

    transition: all 0.3s ease-in;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px; /* Padding lateral */
}

/* ---------------------------------
   1. inscrever / ASSINATURA
   --------------------------------- */
.container-inscrever {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.inscrever-titulo {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    color: #f9a929;
    margin-bottom: 15px;
    text-shadow: 0px 1px 3px #f9a929a2;
}

.inscrever-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input-inscrever {
    width: 350px;
    max-width: 80%;
    padding: 10px 15px;
    color: var(--text-claro);
    background-color: #3c3c3c; 
    border: solid 1px var(--primaria-color); 
    border-radius: 4px;
    font-size: 1em;
}
.input-inscrever:hover{
    border: none;
    box-shadow: 0 0 8px rgba(255, 140, 0, 0.8);
}

.input-inscrever:focus::placeholder {
    color: transparent;
}
.input-inscrever:focus{
    outline: none;
    border: 1px solid orange;
}

.btn-inscrever {
    background-color: #f9a929;
    color: var(--bg-dark, #1a1a1a);
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-inscrever:hover {
    background-color:  #fb9920;
    color: white;
}

.inscrever-checkbox {
    font-size: 0.8em;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}


/* ---------------------------------
   2. CONTEÚDO PRINCIPAL / COLUNAS
   --------------------------------- */

.footer-separator {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.126);
    margin: 20px 0;
}

.conteudo-principal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

/* Estilos de todas as colunas */
.coluna-info, .coluna-links, .coluna-contato {
    width: 20%; 
    min-width: 180px;
    margin-bottom: 30px;
}

/* Coluna de Logo/Descrição */
.logo-footer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logo-footer img {
    width: 100px;
    margin: 0px;
}

.logo-footer h3 {
    font-family: 'Oswald', sans-serif;
    color: var(--text-claro);
    font-size: 1.8em;
}
.logo-footer h3 span {
    color: var(--primaria-color);
}

.descricao-curta {
    font-size: 0.9em;
    color: #ccc;
    line-height: 1.5;
}



.coluna-links h3,
.coluna-contato h3 {
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Estilo dos Links/Texto */
.coluna-links p,
.coluna-contato p,
.coluna-contato a {
    font-size: 0.9em;
    color: #bbb;
    text-decoration: none;
    line-height: 2;
    display: block;
}

.coluna-links a:hover,
.coluna-contato a:hover {
    color: var(--text-light);
    text-decoration: underline;
}

/* Redes Sociais */

/* Redes Sociais Container */
.redes-sociais {
    margin-top: 15px;
    display: flex;
    gap: 15px; 
}

/* Estilo Base dos Ícones */
.redes-sociais a {
    text-decoration: none;
    color: var(--primary-color, #f9a929); 
    display: block;
    transition: transform 0.3s, color 0.3s;
}

.redes-sociais a i {
    font-size: 1.8em; 
}

.redes-sociais a:hover {
    color: var(--text-light, #ffffff);
    transform: scale(1.15);
}

.container-copy {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px 40px;
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 30px;
}