@charset "UTF-8";

@media  screen and (max-width: 900px) {
html{
    overflow-x: hidden;
}
header{
    position: fixed;
}
    #botoes_login{
        display: none;
    }
    
    #ligar{
        display: block;
    }
    #aparecer{
        display: flex;
        flex-direction: column;
    }
    #ligar button{
        
        background-color: rgba(0, 0, 0, 0);
        border: none;
        margin: 23px 20px 20px 20px;
        cursor: pointer;
    }
    #lista_menu{
        
        display: none;
        color: white;
        background-color: orange;
        width: 210px;
        height: 380px;
        margin-top: 3px;
        border-radius: 0px 0px 20px 20px;

    }
    #lista_menu ul{
        flex-direction: column;
        margin: -25px 0px 25px 35px;
        
    }
    #lista_menu ul li a:hover{
        color: rgb(122, 226, 250);
        
    }
    #lista_menu ul li a{
        color: rgb(255, 255, 255);
    }
    .banner{
    background-image: url(../imagem/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 615px;
}

    h1{
        font-size: 2.3em;
        margin-left: 3px;
    }
    .login , .cadastro{
        padding: 8px;
        font-size: .8em;
        margin-top: 40px;
    }
    
    nav{
        display: none;
    }

    .banner-1{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
    h2 {
    color: orange;
    margin: 200px 0px 0px 90px;
    font-size: 2em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);

    width: 0; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    
    animation: 
        largura 3.5s steps(32, end) forwards, 
        barra step-end infinite;
}
@keyframes largura {
    from { width: 0 }
    to { width: 450px } 
}

@keyframes barra {
    from, to { border-color: transparent }  
}
.banner p{
    color: white;
    margin: 20px 0px 0px 90px;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
.treino{
    
    margin: 60px 0px 0px 90px;
    padding: 10px;
    background-color: rgba(255, 166, 0, 0.722);
    color: white;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
}
}