@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body{
    background-color: #333
    ;
    height: 100%;
    width: 100%;
}
#ligar{
    display: none;
}
#lista_menu{
    display: none;
}
/* FORMATAÇÃO GERAL*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
/*----------------------------------------------

ESTILO DO FUNDO E CABEÇALHO*/
.banner{
    background-image: url(../imagem/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 700px;
    border-bottom: 2px solid orange;
}
.logo{
    height: 100%;
    margin: 10px 0px 0px 10px;
    filter: drop-shadow(0 0 0 transparent);
    transition: filter 0.3s ease-in-out; 
}

.logo:hover{
    filter: drop-shadow(-5px -5px 5px blue) 
            drop-shadow(5px 5px 5px red);
            cursor: pointer;
}

#parte-1, #parte-2{
    display: flex;
}
#parte-2{
    margin-right: 10px;
}
header{
    background-color: rgba(0, 0, 0, 0.693);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

/*----------------------------------------------
ESTILO DOS CONTÉUDOS DENTRO DO CABEÇALHO*/



.login, .cadastro{

    padding: 12px;
    margin: 30px 20px auto 0px;
    width: 110px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 0.9em;
    transition: background-color 0.4s ease-in-out;
    transition: color 0.25s ease-in-out;
}
.login{
    background-color: rgba(255, 166, 0, 0.781);
    color: white;
    
}
.login:hover{
    background-color: rgb(253, 175, 30);
    color: black;
    
}

.cadastro:hover{
    background-color:  rgb(131, 131, 130);
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
}
ul{
    display: flex;
    margin-left: 50px;
}
li{
    margin: 45px 80px 0px 0px;
}

a{
    text-decoration: none;
    color: rgba(255, 175, 28, 0.779);
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}
a:hover{

    text-decoration: underline;
    color: white;
    
}

h1{
    font-size: 3.2em;
    color: rgba(255, 255, 255, 0.699);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    font-family: "Oswald";
    font-weight: normal;
    letter-spacing: 2px;
    margin: auto auto auto 20px;
}
/*----------------------------------------------
ESTILO DOS CONTÉUDOS DENTRO DO BANNER*/
.banner-1{
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}
h2 {
    color: orange;
    margin: 200px 0px 0px 90px;
    font-size: 3em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);

    width: 0; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid orange;
    
    animation: 
        largura 3.5s steps(32, end) forwards, 
        barra step-end infinite;
}

@keyframes largura {
    from { width: 0 }
    to { width: 610px } 
}

@keyframes barra {
    from, to { border-color: transparent } 

}


/*----------------------------------------------
FORMATAÇÃO DO CONTEINER*/
#conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.banner p{
    color: white;
    margin: 20px 0px 0px 90px;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.treino{
    
    margin: 60px 0px 0px 90px;
    padding: 17px;
    background-color: rgba(255, 166, 0, 0.722);
    color: white;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
}
.treino:hover{

    color: black;
    background-color: rgb(255, 130, 28);
    cursor: pointer;
}

/*----------------------------------------------
ESTILO DA SEÇÃO HISTORIA*/

#curiosidade {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    height: 550px;
    overflow: hidden; 
    border: 2px solid #333;
    margin: 30px auto;
    background-color: #333;
}


.caixas {
    margin-top: 30px;
    width: 300px; 
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    background-color: #feca95f7; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}

.caixas:hover ~ .caixas {
    opacity: 0.3;
}
.caixas:hover {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 20px rgba(219, 166, 52, 0.6), 0 10px 20px rgba(0, 0, 0, 0.3);   
    z-index: 10; 
}

#curiosidade > .caixas:hover {
    opacity: 1 !important;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(219, 166, 52, 0.6), 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#curiosidade:hover .caixas {
    opacity: 0.3; 
}

.caixas img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}
.caixas p{
    line-height: 20px;
    margin: 0px 10px 10px 20px;
    color: rgb(0, 0, 0);
}
.caixas a {
    color: white;
    font-weight: normal;
}
.caixas a:hover {
    color: rgb(255, 65, 65);
    font-weight: bold;
}

